.container{
	padding: 24px ;
	height: 100%;
	width: 100%;
	
	.title{
		width: 100%;
		display: flex;
		justify-content:flex-start;
		padding-bottom: 16px;
		font-size: 24px;
		color: var(--cor-fundo);
		text-shadow: -3px 2px 0px rgb(129, 129, 129),
		-1px 1px 10px rgb(0, 0, 0);
		animation: slideTop 0.75s linear
		
	}

	.cards{
		display: flex;
		flex-direction: column;
		gap: 16px;

		.card{
			animation: upScale 0.75s linear;
			max-height:500px; 
			width: 20rem; 
			overflow: hidden;
			border-radius: 8px;
		}
		
		.f1{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 10px;
		}
	}

	.custom-image{
		width: 100%;
		height: auto;
		max-height: 150px;
		object-fit: cover;
	}

	.btnFooter{
		display: flex;
		width: 100%;
		justify-content: space-between;
		

	}

	::ng-deep{
		.p-button{
			color: var(--cor-fundo);
		}
		.secondBtn{			
			.p-button{
				background-color: var(--cor-secundaria);
				border: 1px solid var(--cor-secundaria);
			}
			.p-button:hover{
				background-color: var(--cor-secundaria);
				border: 1px solid #ffffff;
			}
		}
		.p-card-body {
			background-color: #18181b;
			border-radius: 8px;
			}
	}
}