<div class="container">

	<div class="title">
		<h1>Meus Projetos</h1>
	</div>

	<div class="cards">
		<div class="f1">
			<p-card class="card" [style]="{'max-height':'500px', width: '20rem', overflow: 'hidden' }">
				<ng-template #header>
					<img 
					alt="Certificado Java" 
					class="custom-image"
					src="assets/imgs/thai.png" 
					style="width: 100%; height: auto; max-height: 200px; object-fit: cover;"
				/>		
				</ng-template>
				<ng-template #title> Landing Page - Arq.Thai </ng-template>
				<ng-template #subtitle> Desenvolvido em Angular/PrimeNG </ng-template>
				<p-scrollpanel [style]="{ width: '100%', height: '10rem' }">
					<p>
						Landing Page responsiva para apresentar os serviços da arquiteta, utilizando Angular e PrimeNG para componentes interativos e estilização aprimorada. O design foi otimizado com Media Queries para adaptação a diferentes dispositivos. 
						Além disso, integrei uma API do WhatsApp, permitindo contato direto com a arquiteta através de um botão dinâmico.				
					</p>
				</p-scrollpanel>
				<ng-template #footer>
					<div class="btnFooter">
						<a [href]="'https://github.com/Joao1799/LandingPageArq'" target="_blank">
							<p-button label="Repositorio" [link]="true" icon="pi pi-github" severity="secondary"  [outlined]="true" styleClass="w-full" />
						</a>
						<p-button label="Visualizar" icon="pi pi-external-link" class="secondBtn" />
						</div>
				</ng-template>
			</p-card>

			<p-card class="card" [style]="{'max-height':'500px', width: '20rem', overflow: 'hidden' }">
				<ng-template #header>
					<img 
					alt="Certificado Java" 
					class="custom-image"
					src="assets/imgs/inovou.png" 
					style="width: 100%; height: auto; max-height: 200px; object-fit: cover;"
				/>		
				</ng-template>
				<ng-template #title>INOVOU - HomeFinder</ng-template>
				<ng-template #subtitle> Desenvolvido em HTML/CSS/JS </ng-template>
				<p-scrollpanel [style]="{ width: '100%', height: '10rem' }">
					<p>
						Site para compra e aluguel de imóveis, utilizando HTML, CSS, JavaScript e Bootstrap. A interface conta com animações interativas para melhorar a experiência do usuário, além de um design moderno e intuitivo.
					</p>
				</p-scrollpanel>
				<ng-template #footer>
					<div class="btnFooter">
					<a [href]="'https://github.com/Joao1799/INOVOU---HomeFinder'" target="_blank">
						<p-button label="Repositorio" [link]="true" icon="pi pi-github" severity="secondary"  [outlined]="true" styleClass="w-full" />
					</a>
					<p-button label="Visualizar" icon="pi pi-external-link" class="secondBtn" />
					</div>
				</ng-template>
			</p-card>
	
			<p-card class="card" [style]="{'max-height':'500px', width: '20rem', overflow: 'hidden' }">
				<ng-template #header>
					<img 
					alt="Certificado Java" 
					class="custom-image"
					src="assets/imgs/pet.png" 
					style="width: 100%; height: auto; max-height: 200px; object-fit: cover;"
				/>		
				</ng-template>
				<ng-template #title>PetShop Frontend</ng-template>
				<ng-template #subtitle> Desenvolvido em Angular/PrimeNG</ng-template>
				<p-scrollpanel [style]="{ width: '100%', height: '10rem' }">
					<p>
						Interface do sistema utilizando Angular e PrimeNG para oferecer uma experiência moderna e responsiva. O sistema permite o cadastro de clientes, agendamentos de serviços, controle de estoque e visualização de relatórios.
					</p>
				</p-scrollpanel>
				<ng-template #footer>
					<div class="btnFooter">
					<a [href]="'https://github.com/Joao1799/RegistrationPetShop'" target="_blank">
						<p-button label="Repositorio" [link]="true" icon="pi pi-github" severity="secondary"  [outlined]="true" styleClass="w-full" />
					</a>
					<p-button label="Visualizar" icon="pi pi-external-link" class="secondBtn" />
					</div>
				</ng-template>
			</p-card>

			<p-card class="card" [style]="{'max-height':'500px', width: '20rem', overflow: 'hidden' }">
				<ng-template #header>
					<img 
					alt="Certificado Java" 
					class="custom-image"
					src="assets/imgs/apinode.png" 
					style="width: 100%; height: 160px; max-height: 200px;object-fit: cover; "
				/>		
				</ng-template>
				<ng-template #title>PetShop Backend</ng-template>
				<ng-template #subtitle>API REST em Node.js</ng-template>
				<p-scrollpanel [style]="{ width: '100%', height: '10rem' }">
					<p>
						API do sistema de gerenciamento de petshop utilizando Node.js com Prisma para ORM e MongoDB como banco de dados. A API permite o cadastro de clientes, agendamentos de serviços, controle de estoque e mais.
					</p>
				</p-scrollpanel>
				<ng-template #footer>
					<div class="btnFooter">
					<a [href]="'https://github.com/Joao1799/PetShopServer'" target="_blank">
						<p-button label="Repositorio" [link]="true" icon="pi pi-github" severity="secondary"  [outlined]="true" styleClass="w-full" />
					</a>
					<p-button label="Visualizar" icon="pi pi-external-link" class="secondBtn" />
					</div>
				</ng-template>
			</p-card>
			
			<p-card class="card" [style]="{ width: '20rem', overflow: 'hidden' }">
				<ng-template #header>
					<img 
					alt="Certificado Java" 
					class="custom-image"
					src="assets/imgs/wpp.png" 
					style="width: 100%; height: auto; max-height: 200px; object-fit: cover;"
				/>		
				</ng-template>
				<ng-template #title> WhatsApp Messaging API </ng-template>
				<ng-template #subtitle>API - Node.js & Twilio</ng-template>

				<p-scrollpanel [style]="{ width: '100%', height: '10rem' }">
					<p>
						API REST utilizando Node.js e a biblioteca Twilio para o envio de mensagens automáticas via WhatsApp. A API permite o envio de notificações personalizadas, integração com sistemas externos e automação de mensagens para melhorar a comunicação com os clientes.		
					</p>
				</p-scrollpanel>
				<ng-template #footer>
					<div class="btnFooter">
					<a [href]="'https://github.com/Joao1799/NodeAPI_Wpp'" target="_blank">
						<p-button label="Repositorio" [link]="true" icon="pi pi-github" severity="secondary"  [outlined]="true" styleClass="w-full" />
					</a>
					<p-button label="Visualizar" icon="pi pi-external-link" class="secondBtn" />
					</div>
				</ng-template>
			</p-card>
			<p-card class="card" [style]="{ width: '20rem', overflow: 'hidden' }">
				<ng-template #header>
					<img 
					alt="Certificado Java" 
					class="custom-image"
					src="assets/imgs/wpp.png" 
					style="width: 100%; height: auto; max-height: 200px; object-fit: cover;"
				/>		
				</ng-template>
				<ng-template #title> WhatsApp Messaging API </ng-template>
				<ng-template #subtitle>API - Node.js & Twilio</ng-template>

				<p-scrollpanel [style]="{ width: '100%', height: '10rem' }">
					<p>
						API REST utilizando Node.js e a biblioteca Twilio para o envio de mensagens automáticas via WhatsApp. A API permite o envio de notificações personalizadas, integração com sistemas externos e automação de mensagens para melhorar a comunicação com os clientes.		
					</p>
				</p-scrollpanel>
				<ng-template #footer>
					<div class="btnFooter">
					<a [href]="'https://github.com/Joao1799/NodeAPI_Wpp'" target="_blank">
						<p-button label="Repositorio" [link]="true" icon="pi pi-github" severity="secondary"  [outlined]="true" styleClass="w-full" />
					</a>
					<p-button label="Visualizar" icon="pi pi-external-link" class="secondBtn" />
					</div>
				</ng-template>
			</p-card>
			
		</div>
	</div>
</div>
