.body{
	display: flex;
	flex-direction: row;
	height: 100%;
	background-image: url('/assets/back/background.svg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu{
	display: flex;
	min-height:100vh ;
}
.main{
	display: flex;
	flex-direction: column;
	width: 100%;
	border-left: 4px solid #4169E1;
}