.body{
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	background-image: url('/assets/back/background.svg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu{
	animation: slide 0.75s ease-in ;
	border-right: 4px solid #4169E1;
	z-index: 100;
	min-height: 100vh;
}
.main{
	width: 100%;
	min-height: 100vh;
}




@keyframes slide{
	0%{	
		opacity: 0.6;
		transform: translateX(-230px);
	}

	50%{
		opacity: 0.75;
	}

	100%{
		opacity: 1;
		transform: translateX(0);
	}
}