<div class="container">
	<div class="header">
		<div class="left">
			<div class ="description">
				<p class="text one"> Olá, sou o João Victor</p>
				<p class="text three">Desenvolvedor FULL STACK</p>
				<p class="txt-me" [innerHTML]="text"></p>
			</div>
		</div>	

		<div class="right">
			<div class="imgPerfil">
				<svg viewBox="-100 -100 200 200" xmlns="http://www.w3.org/2000/svg">
					<defs>
						<clipPath id="clipShape">
							<path d="M55.3,-21.3C62.5,4.2,52.9,31.9,35.7,43C18.5,54,-6.3,48.4,-24,35C-41.8,21.7,-52.5,0.6,-47.3,-22.2C-42.1,-45,-21.1,-69.4,1.5,-69.9C24,-70.4,48.1,-46.9,55.3,-21.3Z"/>
						</clipPath>
					</defs>
					<path fill="#1D5B8A" d="M55.3,-21.3C62.5,4.2,52.9,31.9,35.7,43C18.5,54,-6.3,48.4,-24,35C-41.8,21.7,-52.5,0.6,-47.3,-22.2C-42.1,-45,-21.1,-69.4,1.5,-69.9C24,-70.4,48.1,-46.9,55.3,-21.3Z">
					</path>
		
					<image href="assets/me.png" x="-50" y="-50" width="110" height="120" clip-path="url(#clipShape)"/>
				</svg>
			</div>
		</div>
    </div>	
</div>

