<div class="container">
	<div class="header">
		<div class="left">
			<div class ="description">
				<p class="text one"> Olá, meu nome é</p>
				<h1 class="text two"><a>João Victor</a></h1>
				<p class="text three">Desenvolvedor WEB</p>
			</div>
		</div>	

		<div class="right">
			<div class="imgPerfil">
				<div class="space">
					
				</div>
			</div>
		</div>
    </div>



	<div class="main">
		<p id=title class="text"> {{header}}</p>
		<p-card >
			<p class="txt-me" [innerHTML]="text"></p>
			
			<!-- <div class="footerCard">
				<p-selectbutton 
					[options]="txtOptions" [(ngModel)]="selectedLanguage" 
					(onChange)="translateTXT($event)" optionLabel="label" 
					optionValue="value" aria-labelledby="basic">
				</p-selectbutton>
			</div> -->
		</p-card>		
	</div>

	
</div>

