.container {
	width: 100%;
	height: 100%;
	padding: 24px; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;

	.header {
		display: flex;
		flex-direction: row;
		align-items:center ;
		gap: 1rem;

		.left{
			width: 50%;
			display: flex;
			overflow-wrap: anywhere;
				.description {
					display: flex;
					flex-direction: column;
					a {
						color: #ffffff;
						font-style: normal;
						font-weight: 700;
						font-size: 3.25rem; 
						font-family: sans-serif;
						color: var(--cor-terciaria);
						text-shadow: 
						-1px 1px 0px #afCBE3,
						-2px 2px 0px #afCBE3,
						-3px 3px 0px #afCBE3,
						-4px 4px 0px #afCBE3,
						;
					}
					
					.text {
						width: 100%;
						font-weight: bold;
						text-align: start;
						// opacity: 0;  
						font-size: 3.9rem;
						color: var(--cor-secundaria);
						text-shadow: 
						-1px 1px 0px #afCBE3,
						-2px 2px 0px #afCBE3,
						-3px 3px 0px #afCBE3,
						-4px 4px 0px #afCBE3,
						;
					}

					.one{
						// animation: slideTop 1s ease-out 2s forwards;
					}

					.two{
						// animation: slideRight 1s ease-out 2.25s forwards;
					}

					.three {
						display: flex;
						align-items: end;
						gap: 16px;
						// animation: 
						// // slideBotton 1s ease-out 2.5s forwards;
					}
				}
		}

		.right{
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items:center;
			padding: 1rem;
			.imgPerfil{
				display: flex;
				width: 50%; 
				height: 30vh; 
				align-items: center;
				background-color: #ffffff;
				box-shadow: 0px 2px 10px 1px #202020;
				transition: .5s;
				// opacity: 0;
				// animation: slideTop .75s ease-in-out 2.75s forwards ;	
			}
		}

	}

	.main{
		display: flex;
		flex-direction: column;
		// opacity: 0;
		transform: 0.5;
		// animation: upScale 1.25s ease-in-out 3.25s forwards ;

		p#title{
			font-size: 3.25rem;
			font-weight: bold;
			color: var(--cor-secundaria);
			text-shadow: 
			-1px 1px 0px #afCBE3,
			-2px 2px 0px #afCBE3,
			-3px 3px 0px #afCBE3,
			-4px 4px 0px #afCBE3,
			;


		}

		.txt-me {
			font-size: 1.5rem; 
			height: 10%;
			padding-left: 0px;
			width: 75%;
		}

		.footerCard{
			display: flex;
			justify-content: right;
			width: 100%;
			padding-top: 12px;
		}
	}

	::ng-deep {
		.p-card{
			animation: tamanho 2s linear;
			transition: .7s;
			background: transparent;
			box-shadow: none;
		}

		.p-card-body {
			padding: 0;
		}

		.p-card-title {
			color: var(--cor-terciaria);
			font-size: 2rem; 
			font-weight: bold;
		}

		.p-togglebutton-label, .p-togglebutton-icon {
			color: var(--cor-secundaria);
			font-size: 1rem; 
		}
	}
}


@media (max-width: 480px) {
	
	.header{
		flex-direction: column !important;
		gap: 16px;
	}

	.description {
		display: flex;
		flex-direction: column;
		align-items: center;
	}	

	.three{
		display: flex;
		flex-direction: column;
		align-items: center !important;
	}

	.one,.three,.three a{
		font-size: 2rem !important;
	}
	
	.two{
		a{
			font-size: 2.5rem !important;

		}
		
	}

	.right{
	width: 100%;
    height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	.imgPerfil{
		padding: 2% 2% !important;
		justify-content: center !important;
	}

	.space{
	height:10rem !important;
    width: 10rem !important;
	}

	.txt-me{
		max-height: 45vh !important;
		font-size: 1rem !important;
		overflow-y: scroll !important;
		width: 100% !important;
		text-align: justify;
	}

	.footerCard{
		display: none !important;
	}

	::ng-deep {
		.p-card-title {
			color: var(--cor-secundaria);
			font-size: 1.3rem !important;
			font-weight: bold;
		}
	}

}
