.container {
	width: 100%;
	height: 100%;
	padding: 24px; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.header {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items:center ;
		justify-content: space-between;
		margin-bottom: 1rem; 
		
		.left{
			width: 50%;
			display: flex;
			justify-content: center;
				.description {
					display: flex;
					flex-direction: column;
					a {
						color: #ffffff;
						font-style: normal;
						font-weight: 700;
						font-size: 3.25rem; 
						font-family: sans-serif;
						color: var(--cor-terciaria);
						text-shadow: 
						-1px 1px 0px #afCBE3,
						-2px 2px 0px #afCBE3,
						-3px 3px 0px #afCBE3,
						-4px 4px 0px #afCBE3,
						;
					}
					
					.text {
						width: 100%;
						font-weight: bold;
						white-space: nowrap;
						text-align: center;
						opacity: 0;  
						font-size: 3.9rem;
						color: var(--cor-secundaria);
						text-shadow: 
						-1px 1px 0px #afCBE3,
						-2px 2px 0px #afCBE3,
						-3px 3px 0px #afCBE3,
						-4px 4px 0px #afCBE3,
						// -8px 15px 10px rgba(16,16,16,0.3),
						// -8px 20px 20px rgba(16,16,16,0.3),
						// -8px 25px 40px rgba(16,16,16,0.3),
						// -8px 30px 80px rgba(16,16,16,0.3),
						;
					}

					.one{
						animation: slideTop 1s ease-out 2s forwards;
					}

					.two{
						animation: slideRight 1s ease-out 2.25s forwards;
						padding-left: 32px;
					}

					.three {
						display: flex;
						align-items: end;
						gap: 16px;
						animation: 
						slideBotton 1s ease-out 2.5s forwards;
						.teste{
							border-right: 4px solid #ffffff; 
							overflow: hidden;
							white-space: nowrap;
							padding-left: 4px;
							animation: 
							typing 6s steps(240,end) infinite 1s,
							blinkCursor 1s step-end infinite;
						}
					}
				}
		}

		.right{
			width: 50%;
			display: flex;
			justify-content: center;
			.imgPerfil{
				display: flex;
				align-items: center;
				padding: 12px 12px 4px 4px;
				border-radius: 80% 6% 67% 10% / 28% 50% 32% 15%; 
				background-color: #ffffff;
				box-shadow: 0px 2px 10px 1px #202020;
				transition: .5s;
				opacity: 0;
				animation: slideTop .75s ease-in-out 2.75s forwards ;
				width: fit-content;
	
				.space {
					height: 20rem; 
					width: 20rem; 
					border-radius: 63% 12% 61% 10% / 28% 25% 32% 15%; 
					background-color: var(--cor-secundaria);
					box-shadow: 0px 2px 10px 1px #202020;
				}
			}
	
			.imgPerfil:hover{
				box-shadow: 0px 2px 10px 8px #ffffff;
			}
		}

	}

	.main{
		display: flex;
		flex-direction: column;
		opacity: 0;
		transform: 0.5;
		animation: upScale 1.25s ease-in-out 3.25s forwards ;

		p#title{
			font-size: 3.25rem;
			padding-left: 20px;
			font-weight: bold;
			color: var(--cor-secundaria);
			text-shadow: 
			-1px 1px 0px #afCBE3,
			-2px 1px 0px #afCBE3,
			-2px 1px 0px #afCBE3,
			-2px 1px 0px #afCBE3,
		}

		.txt-me {
			font-size: 1.5rem; 
			height: 10%;
			padding-left: 0px;
			width: 75%;
		}

		.footerCard{
			display: flex;
			justify-content: right;
			width: 100%;
			padding-top: 12px;
		}
	}

	::ng-deep {
		.p-card{
			animation: tamanho 2s linear;
			transition: .7s;
			background: transparent;
			box-shadow: none;
		}

		.p-card-title {
			color: var(--cor-terciaria);
			font-size: 2rem; 
			font-weight: bold;
		}

		.p-togglebutton-label, .p-togglebutton-icon {
			color: var(--cor-secundaria);
			font-size: 1rem; 
		}
	}
}


@media (max-width: 480px) {
	
	.header{
		flex-direction: column !important;
		gap: 16px;
	}

	.description {
		display: flex;
		flex-direction: column;
		align-items: center;
	}	

	.three{
		display: flex;
		flex-direction: column;
		align-items: center !important;
	}

	.one,.three,.three a{
		font-size: 2rem !important;
	}
	
	.two{
		a{
			font-size: 2.5rem !important;

		}
		
	}

	.right{
	width: 100%;
    height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	.imgPerfil{
		padding: 2% 2% !important;
		justify-content: center !important;
	}

	.space{
	height:10rem !important;
    width: 10rem !important;
	}

	.txt-me{
		max-height: 45vh !important;
		font-size: 1rem !important;
		overflow-y: scroll !important;
		width: 100% !important;
		text-align: justify;
	}

	.footerCard{
		display: none !important;
	}

	::ng-deep {
		.p-card-title {
			color: var(--cor-secundaria);
			font-size: 1.3rem !important;
			font-weight: bold;
		}
	}

}
