.container {
	width: 100%;
	height: 100%;
	padding: 4rem; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;

	.header {
		display: flex;
		flex-wrap: wrap;
		align-items:center ;
		gap: 1rem;
		height: 100%;

		.left{
			width: 60%;
			flex: 1;
			display: flex;
			flex-direction: column;
				.description {
					display: flex;
					flex-direction: column;
					
					.text {
						width: 100%;
						text-align: start;
						font-size: clamp(2.6rem, 3vw, 3.5rem);
						color: var(--cor-secundaria);
					}

					.three{
						background: linear-gradient(45deg, var(--cor-secundaria), var(--cor-fundo));
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						font-weight: bold;
						white-space: nowrap;
					}

					.one{	
						color: var(--cor-tercearia);
						font-size: clamp(1.1rem, 3vw, 1.6rem);
					}

					// .two{
					// 	background: linear-gradient(270deg,white,var(--cor-secundaria));
					// 	background-size: 200% 200%;
					// 	background-clip: text;
					// 	-webkit-background-clip: text;
					// 	-webkit-text-fill-color: transparent;
					// 	animation: TextGradient 3s ease infinite;
					// 	display: inline-block;
					// }

					.three {
						display: flex;
						align-items: end;
						gap: 16px;
						// animation: 
						// // slideBotton 1s ease-out 2.5s forwards;
					}

					.txt-me{
						font-size: clamp(1rem, 3vw, 1.2rem);
					}
				}
		}

		.right{
			width: 50%;
			flex: 1;
			display: flex;
			justify-content: center;
			align-items:center;
			padding: 1rem;
			.imgPerfil {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				width: 100%;
				height: 100%;
				max-height: 650px;
				max-width: 650px;
				animation: floating 4s ease-in-out infinite;
				
				svg{
					height: 100%;
					width: 100%;
					min-height: 600px;
					min-width: 600px;
					filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.5));
				}
			}
		}

	}
	// @media (max-width: 700px) {
	// 	.header {
	// 		flex-direction: column;
	// 		text-align: center;
	// 	}
	
	// 	.one {
	// 		order: 0; /* Primeiro */
	// 	}
	
	// 	.three {
	// 		order: 1; /* Segundo */
	// 	}
	
	// 	.right {
	// 		order: 2; /* Terceiro */
	// 	}
	
	// 	.txt-me {
	// 		order: 3; /* Quarto */
	// 	}
	// }
}


// @media (max-width: 980px) {
	
// 	.header{
// 		flex-direction: column !important;
// 		gap: 16px;
// 	}

// 	.three{
// 		text-wrap: nowrap !important;
// 	}

// 	.text-me{
// 		width:70%
// 	}

// 	.right{
// 	width: 100%;
//     // height: 20vh;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	}

// 	.imgPerfil {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		position: relative;
// 		width: 100%;
// 		height: 100%;
// 		max-height: 450px;
// 		max-width: 450px;
// 		animation: floating 4s ease-in-out infinite;
		
// 		svg{
// 			height: 100%;
// 			width: 100%;
// 			min-height: 500px !important;
// 			min-width: 500px !important;
// 			filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.5));
// 		}
// 	}

// 	.txt-me{
// 		max-height: 45vh !important;
// 		font-size: 1rem !important;
// 		overflow-y: scroll !important;
// 		width: 100% !important;
// 		text-align: justify;
// 		color: white;
// 	}
// }
