.container {
	background: #202020;
	background: radial-gradient(circle farthest-side at left center, #202020 36%, #303030 87%);	
	width: 100%;
	color: white;
	padding: 2vw; 
	align-items: center;

	.header {
		display: flex;
		flex-direction: row;
		align-items:start ;
		justify-content: space-between;
		margin-bottom: 1.2vw; 
		
		.description {
			display: flex;
			flex-direction: column;
			
			.text {
				font-size: 4.65vw; 
				font-weight: bold;
				color: white;
				text-shadow: 0px 0px 0px rgb(255, 255, 255),
				-0.15rem 0.25rem 0px rgba(179, 177, 177, 0.637); 
			}
			
			a {
				color: #ffffff;
				font-style: normal;
				font-weight: 700;
				font-size: 5.25vw; 
				font-family: sans-serif;
				text-shadow: -0.4375rem 0.375rem 0.125rem #4169E1;			
			}
		}

		.space {
			height: 22vw; 
			width: 22vw; 
			border-radius: 50%;
			background-color: #4169E1;
		}
	}

	.txt-me {
		font-size: 1vw; 
	}

	.footerCard{
		display: flex;
		justify-content: right;
		width: 100%;
		padding-top: 12px;
	}

	::ng-deep {
		.p-card-title {
			color: #4169E1;
			font-size: 1.35vw; 
			font-weight: bold;
		}

		.p-togglebutton-label, .p-togglebutton-icon {
			color: #4169E1;
			font-size: 0.8vw; 
		}
	}
}
