<div class="container">
	<div class="header">	
		<div class ="description">
			<span class="text one">< Hi,></span>
			<span class="text two">I'am <a>J</a>oão,</span>
			<span class="text three">Software Engineer!</span>
		</div>
		<div class="imgPerfil">
			<div class="space">
				
			</div>
		</div>
    </div>

	<div class="main">
		<p-card header="About Me">
			<p class="txt-me">
				Hello! I’m a Software Engineering student at the Catholic University of Brasília, currently in my 7th semester.<br>
				Throughout my academic journey, I’ve developed a strong knowledge base by leading and participating in challenging projects, which taught me the importance of structured planning and clearly abstracting ideas before moving on to execution.<br><br>

				I have a proactive and patient profile, always focused on achieving both short- and long-term goals, constantly seeking the most efficient and innovative solutions to the challenges I face.<br><br>

				I am proficient in technologies such as JavaScript, TypeScript, Angular, Node, and Java, and have a strong understanding of agile methodologies, including Scrum and Kanban. Additionally, I am fluent in English, which allows me to collaborate in diverse, global environments.<br><br>

				This is a bit of my journey so far and how I constantly strive to improve, whether in technical development or in building efficient and collaborative solutions. If you’re interested in learning more or collaborating, feel free to get in touch!

			</p>
		</p-card>
	</div>

	
</div>

