.container{
	height: 100%;
	width: 100%;
	background-color: #202020 ;
}

nav.menu-lateral{
	width: 250px;
	height: 100%;
	background-color: #202020;
}

.item-menu.ativo {
	background-color: #4169E1; 
	color: white;  
  }


.logo{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 0px 0px 40px 0px;
	padding-bottom: 12px;
	background-color: black;

	.logo-txt{
		font-size: 150px;
		font-family: sans-serif;
		font-weight: bold;
		color:white;
		text-shadow: -10px 8px 2px #4169E1;
		animation: slideBotton 1.5s ease-in;
	}
	.logo-name{
		font-size: 45px;
		font-weight: bold;
		font-family: sans-serif;
		color:#4169E1;
		margin: -25px 15px 0px 0px;
		padding-bottom: 12px;
		animation: slideBotton 1.25s ease-in;
	}

	.logo-description{
		font-size: 20px;
		font-weight:400;
		font-style: italic;
		color:#3a3a3a;
		padding-right: 10px;
		animation: slideBotton 1s ease-in;
	}
}

ul{
	list-style: none;
	padding: 0px 0 40px 2%;

	li.item-menu{
		transition: .2s;
		cursor: pointer;
	}

	
	.one{
		animation: slide 1s ease-in;
	}
	.two{
		animation: slide 1.25s ease-in;
	}
	.three{
		animation: slide 1.50s ease-in;
	}
	.four{
		animation: slide 1.70s ease-in;
	}

	li.item-menu:hover{
		background-color: #4169E1;
	}
	li.item-menu::after{
		background-color: #4169E1;
	}

	li.item-menu a{
		display: flex;
		align-items: flex-end;
		color: white;
		text-decoration: none;
		font-size: 20px;
		padding: 20px 4%;
		margin-bottom: 30px;
		gap: 30px;

		.icon{
			i{
				font-size: 30px;
			}
		}
	}


	li.item-socialMidias{
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		text-decoration: none;
		font-size: 20px;
		padding: 20px 4%;
		margin-bottom: 30px;
		gap: 40px;
		cursor: default;

		a{
			color: white;
			animation: slideTop 1s ease-in;
		}
		
		.icon{
			i{
				cursor: pointer;
				font-size: 40px;
			}
		}

		.icon:hover{
			i{
				color: #4169E1;
			}
		}
	}

}

@keyframes slide{
	0%{	
		opacity: 0.6;
		transform: translateX(-230px);
	}

	50%{
		opacity: 0.75;
	}

	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes scale {
	0% {
	  opacity: 0.5;
	  transform: scale(0.1);
	}
  
	100% {
	  transform: scale(1);
	  opacity: 1;
	}
  }

@keyframes slideTop{
	0%{
		opacity: 0.1;
		transform: scale(0.1);

	}

	100%{
		opacity: 1;
		transform: scale(1);
	}

}  

@keyframes slideBotton{
	0%{
		opacity: 0.1;
		transform: translateY(-20%);
	}

	100%{
		opacity: 1;
		transform: translateY(0);
	}

}  