.container{
	min-height: 100vh;
	width: 20vh;
	background-color: #202020 ;
	display: flex;
	flex-direction: column;
}

.logo{
	width: 100%;
	background-color: black;
	.body-logo{
		display:flex ;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		transition: 0.2s;

		.logo-txt{
			font-size: 9rem;
			font-family: sans-serif;
			font-weight: bold;
			margin-left: 10px;
			color: var(--cor-terciaria);
			text-shadow: -10px 8px 2px var(--cor-quartearia);
			animation: slideBottonHeader 1.5s ease-in;
		}
		.logo-name{
			font-size: 3rem;
			font-weight: bold;
			font-family: sans-serif;
			color: var(--cor-terciaria);
			animation: slideBottonHeader 1.25s ease-in;
		}
		.logo-description{
			font-size: 1.5rem;
			font-weight:400;
			font-style: italic;
			color:#3a3a3a;
			animation: slideBottonHeader 1s ease-in;
		}
	}
}

.menu-lateral{
	width: 100%;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	background-color: #202020;
	overflow-y: hidden;


.item-menu.ativo {
	background-color: var(--cor-secundaria); 
	color: white;  
}

ul{
	list-style: none;
	padding: 0px 0px 0px 2%;

	li.item-menu{
		transition: .2s;
		cursor: pointer;
	}

	
	.one{
		animation: slide 1s ease-in;
	}
	.two{
		animation: slide 1.25s ease-in;
	}
	.three{
		animation: slide 1.50s ease-in;
	}
	.four{
		animation: slide 1.70s ease-in;
	}

	li.item-menu:hover{
		background-color: var(--cor-secundaria);
	}
	li.item-menu::after{
		background-color: var(--cor-secundaria);
	}

	li.item-menu a{
		display: flex;
		align-items: flex-end;
		color: white;
		text-decoration: none;
		padding: 20px 4%;
		margin-bottom: 30px;
		gap: 30px;
		font-size: 1.2rem;

		.icon{
			i{
				font-size: 1.5rem;
			}
		}
	}


	.item-socialMidias{
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		text-decoration: none;
		width: 100%;
		padding: 20px 4%;
		margin-bottom: 30px;
		cursor: default;

		a{
			color: white;
			animation: upScale 1s ease-in;
		}
		
		.icon{
			i{
				cursor: pointer;
				font-size: 2.2rem;
			}
		}

		.icon:hover{
			i{
				color: var(--cor-secundaria);
			}
		}
	}

}

#midia{
	padding: 0 0 0 2%;
}
}


@media(max-width: 920px){
	.container{
		min-height: 10vh !important;
		width: 100%;
		display: flex !important;
		flex-direction: row !important;
	}
	.logo{
		width: 20%;
		.logo-txt{
			font-size: clamp(6rem, 8vw, 8rem) !important;
			margin-left: 0px !important;
		}
		.logo-name ,.logo-description{
			display: none;
		}
	}

	.menu-lateral{
		width: 77% !important;
	}

	ul{
		height: 100% !important;
		width: 100% !important;
		display: flex !important;
		padding: 0 !important;
	}

	ul article{
		display: flex !important;
		flex-direction: row !important;
		height: 100% !important;
		width: 100%;
		justify-content: space-evenly;
		align-items: center;
	}

	#midia{
		display: none !important;
	}

	li.item-menu{
		display: flex;
		align-items: center;
		height: 50%;
		padding: 8px;
		border-radius: 8px;
		
		a{
			gap: 8px !important;
			display: flex !important;
			align-items: end !important;
			justify-content: center!important;
			color: white !important;
			padding: 0px 0 !important;
			font-size: 1rem !important;
			margin-bottom: 0px !important;
			
		}
	}
}
