<div class="container">
	<nav class="menu-lateral">
		<div class="logo">
			<span class="logo-txt">J</span>
			<span class="logo-name">João</span>
			<span class="logo-description">Web-Developer</span>
		</div>

		<ul>
			<li class="item-menu" [ngClass]="{'ativo': menuSelecionadoAtual === 'About'}">
				<a (click)="selecionarMenu('About')">
					<span class="icon"><i class="pi pi-user"></i></span>
					<span class="txt-link">About</span>
				</a>
			</li>
			<li class="item-menu" [ngClass]="{'ativo': menuSelecionadoAtual === 'Skills'}">
				<a (click)="selecionarMenu('Skills')">
					<span class="icon"><i class="pi pi-objects-column"></i></span>
					<span class="txt-link">My Skills</span>
				</a>
			</li>
			<li class="item-menu" [ngClass]="{'ativo': menuSelecionadoAtual === 'Work'}">
				<a (click)="selecionarMenu('Work')">
					<span class="icon"><i class="pi pi-briefcase"></i></span>
					<span class="txt-link">Work</span>
				</a>
			</li>
			<li class="item-menu" [ngClass]="{'ativo': menuSelecionadoAtual === 'Contact'}">
				<a (click)="selecionarMenu('Contact')">
					<span class="icon"><i class="pi pi-phone"></i></span>
					<span class="txt-link">Contact</span>
				</a>
			</li>
			<li class="item-socialMidias">
				<a href="#">
					<span class="icon"><i class="pi pi-linkedin"></i></span>
					<span class="icon"><i class="pi pi-instagram"></i></span>
					<span class="icon"><i class="pi pi-whatsapp"></i></span>
				</a>
			</li>
		</ul>

	</nav>
</div>


