<div class="container">
	<div class="logo">
		<div class="body-logo">
			<span class="logo-txt">J</span>
			<span class="logo-name">João</span>
			<span class="logo-description">Dev Full-Stack</span>
		</div>
	</div>
	<nav class="menu-lateral">
		<ul>
			<article>
				<li class="item-menu one" [ngClass]="{'ativo': menuSelecionadoAtual === 'about'}">
					<a (click)="selecionarMenu('About')" routerLink="/about">
						<span class="icon"><i class="pi pi-user"></i></span>
						<span class="txt-link">Sobre</span>
					</a>
				</li>
				<li class="item-menu two" [ngClass]="{'ativo': menuSelecionadoAtual === 'skills'}">
					<a (click)="selecionarMenu('Skills')" routerLink="/skills">
						<span class="icon"><i class="pi pi-objects-column"></i></span>
						<span class="txt-link">Habilidades</span>
					</a>
				</li>
				<li class="item-menu three" [ngClass]="{'ativo': menuSelecionadoAtual === 'work'}">
					<a (click)="selecionarMenu('Work')" routerLink="/work">
						<span class="icon"><i class="pi pi-briefcase"></i></span>
						<span class="txt-link">Trabalhos</span>
					</a>
				</li>
				<li class="item-menu four" [ngClass]="{'ativo': menuSelecionadoAtual === 'contact'}">
					<a (click)="selecionarMenu('Contact')" routerLink="/contact">
						<span class="icon"><i class="pi pi-phone"></i></span>
						<span class="txt-link">Contato</span>
					</a>
				</li>
			</article>
		</ul>
		
		<ul id="midia">
			<article> 
				<li class="item-socialMidias">
					<a href="https://www.linkedin.com/in/joão-victor-68240a197" target="_blank">
						<span class="icon"><i class="pi pi-linkedin"></i></span>
					</a>
					<a href="https://github.com/Joao1799" target="_blank">
						<span class="icon"><i class="pi pi-github"></i></span>
					</a>
					<a href="">
						<span class="icon"><i class="pi pi-whatsapp"></i></span>
					</a>
				</li>
			</article>
		</ul>
	</nav>
</div>


