.container {
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap: 16px;

  .skills{
    animation: slideTop 1s linear;
  }

  .cardOne{
    animation: slideBotton 1s linear
  }

  .cardTwo{
    animation: slideBotton 1.25s linear
  }


  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .certificate{
    display: flex;
    gap: 16px;
  }

  ::ng-deep {
    .certificate{
      .p-card-title {
        font-size: 16px;
      }
      .p-card-subtitle {
        font-size: 14px;
      }
    }
    p-tabs {
      width: 100%;
    }
    .p-card-title {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      font-size: 24px;
    }
    .p-tab-active {
      border-color: var(--cor-secundaria);
      color: var(--cor-secundaria);
    }

    p-tab span {
      font-size: 20px;
    }

	p.m-0{
		font-size: 18px;
    overflow-y: auto;
    min-height: 350px;
    max-height: 350px;
	}

    .p-togglebutton-label,
    .p-togglebutton-icon {
      color: var(--cor-terciaria);
      font-size: 1rem;
    }
    --p-tabs-active-bar-background: var(--cor-secundaria);
  }
}

@media (max-width: 480px) {
  .container{

    padding: 24px 24px;
  }

  .skills,.certificate{
    width: 80%;
  }

  .certificate{
    flex-direction: column;
    align-items: center;
  }

  ::ng-deep{
    .p-selectbutton{
      display: none;
    }
  }
}
