<div class="container">
	<div class="skills">
		<div class="header">
			<p-card>
				<ng-template #title>
					<span>Tecnologias e Ferramentas :</span>
				</ng-template>
			</p-card>
		</div>


		<div class="body">
			<p-card class="cards cardOne">
				<ng-template pTemplate="header">
					<img class="custom-image" src="assets/linguagens/programing.png"/>
				</ng-template>
				<ng-template pTemplate="title">Angular</ng-template>
				<ng-template pTemplate="subtitle">Framework Front-end</ng-template>
				<p></p>
			</p-card>

			<p-card class="cards cardOne">
				<ng-template pTemplate="header">
					<img alt="JavaScript" class="custom-image" src="assets/linguagens/js.png"/>
				</ng-template>
				<ng-template pTemplate="title">JavaScript</ng-template>
				<ng-template pTemplate="subtitle">Programação Web</ng-template>
				<p></p>
			</p-card>
			
			<p-card class="cards cardOne">
				<ng-template pTemplate="header">
					<img alt="TypeScript" class="custom-image" src="assets/linguagens/ts.png"/>
				</ng-template>
				<ng-template pTemplate="title">TypeScript</ng-template>
				<ng-template pTemplate="subtitle">Superset do JavaScript</ng-template>
				<p></p>
			</p-card>
			
			<p-card class="cards cardOne">
				<ng-template pTemplate="header">
					<img alt="React" class="custom-image" src="assets/linguagens/react.png"/>
				</ng-template>
				<ng-template pTemplate="title">React</ng-template>
				<ng-template pTemplate="subtitle">Biblioteca Front-end</ng-template>
				<p></p>
			</p-card>
			
			<p-card class="cards cardOne">
				<ng-template pTemplate="header">
					<img alt="Node.js" class="custom-image" src="assets/linguagens/node.png"/>
				</ng-template>
				<ng-template pTemplate="title">Node.js</ng-template>
				<ng-template pTemplate="subtitle">Ambiente Back-end</ng-template>
				<p></p>
			</p-card>
			
			<p-card class="cards cardOne">
				<ng-template pTemplate="header">
					<img alt="MongoDB" class="custom-image" src="assets/linguagens/mongo.png"/>
				</ng-template>
				<ng-template pTemplate="title">MongoDB</ng-template>
				<ng-template pTemplate="subtitle">Banco de Dados NoSQL</ng-template>
				<p></p>
			</p-card>
			
			<p-card class="cards cardOne">
				<ng-template pTemplate="header">
					<img alt="GitHub" class="custom-image" src="assets/linguagens/github.png"/>
				</ng-template>
				<ng-template pTemplate="title">GitHub</ng-template>
				<ng-template pTemplate="subtitle">Controle de Versão </ng-template>
				<p></p>
			</p-card>
		</div>
	</div>

	<div class="certificate">
		<div class="header">
			<p-card>
				<ng-template #title>
					<span>Meus Certificados :</span>
				</ng-template>
			</p-card>
		</div>

		<div class="body">
			<p-card class="cards cardTwo">
				<ng-template pTemplate="header">
					<img class="custom-image" src="assets/certificados/javaCertificado.jpeg"/>
				</ng-template>
				<ng-template pTemplate="title">Certificado Java</ng-template>
				<ng-template pTemplate="subtitle"> Carga de 60 horas </ng-template>
				<p></p>
			</p-card>

			<p-card class="cards cardTwo">
				<ng-template pTemplate="header">
					<img class="custom-image" src="assets/certificados/pythonCertificado.jpeg"/>
				</ng-template>
				<ng-template pTemplate="title">Certificado Python</ng-template>
				<ng-template pTemplate="subtitle"> Carga de 80 horas </ng-template>
				<p></p>
			</p-card>
		</div>
	</div>
</div>