.container {
  width: 100%;
  padding: 24px 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap: 16px;

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .certificate{
    display: flex;
    gap: 16px;
  }

  ::ng-deep {
    .certificate{
      .p-card-title {
        font-size: 16px;
      }
      .p-card-subtitle {
        font-size: 14px;
      }
    }
    p-tabs {
      width: 100%;
    }
    .p-card-title {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      font-size: 24px;
    }
    .p-tab-active {
      border-color: #4169e1;
      color: #4169e1;
    }

    p-tab span {
      font-size: 20px;
    }

	p.m-0{
		font-size: 18px;
    overflow-y: auto;
    min-height: 350px;
    max-height: 350px;
	}

    .p-togglebutton-label,
    .p-togglebutton-icon {
      color: #4169e1;
      font-size: 0.8vw;
    }
    --p-tabs-active-bar-background: #4169e1;
  }
}
