.container {
  padding: 24px 48px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  gap: 16px;
  color: var(--cor-fundo);

  .cards{
    width: 200px;
    overflow: hidden;
    border-radius: 8px;   
    
    .custom-image{
      width: 100%;
      height: auto;
      max-height: 200px;
      object-fit: cover;
    }
  }

  .certificate{
    display: flex;
    flex-direction: column;
    gap: 16px;
    .header{
      animation: slideBotton 1.25s linear
    }
  }

  .skills{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .header{
    ::ng-deep{
      p-card{
        display: flex;
      }     
    }

    .title {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .skills{
    animation: slideTop 1s linear;
  }

  .cardOne{
    animation: slideBotton 1s linear
  }

  .cardTwo{
    animation: slideBotton 1.25s linear
  }

  ::ng-deep {
    .body{
      .p-card-title {
        font-size: 16px;
      }
      .p-card-subtitle {
        font-size: 14px;
      }
    }

    .p-card-body {
    background-color: #18181b;
    border-radius: 8px;
    }

    .p-card-title {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      font-size: 24px;
      color: var(--cor-fundo);
    }
  }
}

@media (max-width: 480px) {
  .container{

    padding: 24px 24px;
  }

  .skills,.certificate{
    width: 80%;
  }

  .certificate{
    flex-direction: column;
    align-items: center;
  }

}
