.container{
	min-height: 100vh;
	width: 100%;
	padding:48px;
	overflow: auto;

	.main{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;	
	}

	.left{
		width: 45%;
	}

	.groupCard{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		width: 100%;
		gap: 16px;
		.cards{
			display: flex;
			flex-direction: column;
			background-color: rgba(100, 100, 100, 0.671);
			height: auto;
			border-radius: 10px;
			box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.741);
			padding: 8px 16px 16px 16px;
			gap: 8px;

			h1{
				font-size: 2rem;
				white-space: normal;
				word-wrap: break-word;
			}
			
			p {
				font-size: 1.4rem;
				white-space: normal;
				word-wrap: break-word;
			}
		}


		.one{
			animation: slideLeft2 1s ease-in-out;
		}

		.two{
			animation: slideLeft2 1.55s ease-in-out ;
		}

		.three{
			animation: slideLeft2 2s ease-in-out;
		}
	}




	.right{
		background-color: #1a1a1a;
		border-radius: 10px;
		padding: 32px;
		box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.741); 
		width: 35%;
		height: auto;
		animation: slideTop 1.75s ease-in-out ;
		box-shadow: -1px 2px 8px #000000;
	
		.header{
			width: 100%;
			text-align: left;
			font-size: 1.5rem;
			padding-bottom: 16px;
			white-space: normal;
			word-wrap: break-word;
		}
		.body{
			display: flex;
			flex-direction: column;
			justify-content: space-around;


			label{
				font-size: 1.1rem;
				white-space: normal;
				word-wrap: break-word;
			}

			article{
				display: flex;
				flex-direction: column;
				gap: 6px;
				padding-bottom: 16px;
			}
		}

		.footer{
			width: 100%;
			display: flex;
			justify-content: right;
				
		}

	}	
	::ng-deep{
		--p-inputtext-focus-border-color: var(--cor-terciaria);
		--p-select-focus-border-color: var(--cor-terciaria);
		--p-togglebutton-focus-ring-color:var(--cor-terciaria)1;

		.p-select-option.p-select-option-selected{
			background: var(--cor-terciaria);	
		}

		.p-button{
			background-color: var(--cor-terciaria);
			border: 1px solid #4169e1;
		}
		.p-button:hover{
			background-color: var(--cor-terciaria);
			border: 1px solid #ffffff;
		}
	}
}

@keyframes slideLeft2{
	0% {
	  transform: translateX(-60%);
	  opacity: 0;
	 
	}
	0% {
		opacity: 0.5;
		

	  }
	100% {
		transform: translateX(0);
		opacity: 1;
		
	  }
}

@media (max-width: 480px) {
	
	.container{
		padding: 24px !important;
	}

	.main{
		flex-direction: column !important;
		gap: 20px !important;
	}

	.left,.right{
		width: 100% !important;
	}

	.one, .two{
		display: none !important;
	}

	.groupCard {
		align-items: center;
	}

	.cards {
		width: 90% !important;
	}
}