/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit',sans-serif;
	text-align: justify;
}

html,body{
	height: 100%;
	background: radial-gradient(ellipse at top, #0d131a 0%, #0b304d 100%);
}

section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	-webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */

	h1{
		font-size: 3rem;
		letter-spacing: 2px;
		font-weight: 400;
		color: white;
		transition:1s;
		animation: neon 3s linear ;
	}

	@keyframes neon {
		0%{
			text-shadow: none;
		}100%{
			text-shadow: 
			0 0 5px var(--cor-secundaria),
			0 0 10px var(--cor-secundaria),
			0 0 20px var(--cor-secundaria),
			0 0 30px var(--cor-secundaria),
			0 0 60px var(--cor-secundaria),
		}
	}

	img{
		background-size:cover ;
		background-repeat: no-repeat;
		background-position: center;
		width: 25%;
		box-shadow: 
		0 0 -5px var(--cor-secundaria),
		0 0 -10px var(--cor-secundaria),
		0 0 -20px var(--cor-secundaria),
		0 0 -30px var(--cor-secundaria),
	}
}

body{
	color: #afcbe3;
	display: grid;
	place-items:center ;
	text-align: center;
}

:root {
	--cor-primaria: #0b304d; 
	--cor-secundaria: #1d5b8a; 
	--cor-terciaria: #5c99c5;
	--cor-quartearia: #afcbe3; 
	--cor-fundo: #f4f4f4; 
	--cor-texto: #333333; 
}

@keyframes blinkCursor {
	50% {
		border-right-color: transparent;
	}
}

@keyframes typing {
	0% {
		width:  100%;;
	}
	50% {
		width: 0%;
	}
	100% {
		width:  100%;
	}
}

@keyframes upScale {
	0% {
	  transform: scale(0.3);
	  transform-origin: 50% 100%;
	}
  
	100% {
	  transform: scale(1);
	  transform-origin: 50% 100%;
	}
}

@keyframes slideTop{
	0% {
	transform: translateY(-100%);
	opacity: 0;
	z-index: -100;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}

}

@keyframes slideRight{
	0% {
	transform: translateX(100%);
	opacity: 0;
	z-index: -100;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slideLeft{
	0% {
	transform: translateX(-100%);
	opacity: 0; 
	}
	
	100% {
		transform: translateX(0);
		opacity: 1;
		
	}
}

@keyframes slideBotton{
	0% {
	transform: translateY(100%);
	opacity: 0;
	z-index: -100;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}

}

@keyframes slide{
	0%{	
		opacity: 0.6;
		transform: translateX(-230px);
	}

	50%{
		opacity: 0.75;
	}

	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes scale {
	0% {
	opacity: 0.5;
	transform: scale(0.1);
	}

	100% {
	transform: scale(1);
	opacity: 1;
	}
}

@keyframes upScale{
	0%{
		opacity: 0.1;
		transform: scale(0.1);

	}

	100%{
		opacity: 1;
		transform: scale(1);
	}

}  

@keyframes slideBottonHeader{
	0%{
		opacity: 0.1;
		transform: translateY(-20%);
	}

	100%{
		opacity: 1;
		transform: translateY(0);
	}

}  
